:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #19265e;
  --color-secondary: #24324b;
  --color-dark: #172a43;
  --color-bg: #04152d;

  /* Fonts */
  --font-roboto: "Roboto";
}
